body{

     background-size:100%;
     background-repeat:none;
     
   }










   .fixed-nav-bar {
    position: fixed;
    align-items: flex-end;
    justify-content: flex-end;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 110px;
    background-color: white;
    box-shadow: 0px 0px 10px purple;
    display: flex;
    line-height: 8px;
  }
  
  /* nav img {
    height: 50px;
  } */
  
  p {
    line-height: 27px;
   
  }
  @media (min-width: 326px) {
    p {
        font-size: 10px;
    }
   
    }
  
  nav .brand {
    flex: 1;
    align-self: flex-start;
    height: 90px;
    color: purple;
    margin-left: 30px;
    font-size: 30px;
    cursor: pointer;
    margin-top: 3rem;
  }
  



.navbar-container ul li .underline {
	height: 1.5px;
	background-color: transparent;
	width: 0%;
	transition: width 0.7s, background-color 0.9s;

	/* margin: 0 auto; */
}

.navbar-container ul li.active-link .underline {
	width: 90%;
	background-color: purple;
}


.navbar-container ul li:hover .underline {
	background-color: purple;
	width: 90%;
}

.navbar-container ul li:hover a {
  color: purple;
  
}

.navbar-container ul li:active a {
	transition: none;
	color: purple;
}

.navbar-container ul li:active .underline {
	transition: none;
	background-color: purple;
}







.navbar-container {
	text-align: center;
	/* background-color: white;
	box-shadow: 0px -20px 5px 20px #333333; */
	padding: 0px;
	font-size: 0;
}

.navbar-container ul {
	margin: 45px;
	padding: 6px;
	text-align: right;
	display: inline-block;
	vertical-align: middle;
}

.navbar-container ul li {
	display: inline-block;
	font-size: 21px;
}

.navbar-container ul li a {
	color: black;
	text-decoration: none;
	display: inline-block;	
	padding: 10px;
	transition: color 0.5s;
}
a {
	outline: none;
}











  
  








   
   #head{
     height:50px;
     width:900px;
     background-color:none;
     top:50px;
     text-size:px;
     
   }
   #head:hover{
     opacity:1;
   }
   
    #head ul li{
     color:white;
     list-style:none;
     float:left;
      height:50px;
      width:100px;
      line-height:50px;
      text-align:center;
      font-size:20px;
      cursor:pointer;
     
   }
   #head ul li:hover{
     background-color:black;
   
   }
   
   #option {
     margin-top:200px;
     float:left;
   }
   #option h2{
     color:white;
     background-color:black;
     width:200px;
    height:50px;
    cursor:pointer;
     border-radius:25px;
     line-height:2;
     text-align:center; 
     transition:all 0.1s linear;
   }
   #option h2:hover{
     width:250px;
     background-color:green;
     
   }
   #logo{
     background-image:url("http://3.bp.blogspot.com/-Oz5XdPqGddQ/ULy9zwbIDXI/AAAAAAAAPio/HZwYtIr7DfE/s1600/22-restaurant-logo-design.jpg");
     height:100px;
     width:100px;
     background-attachment:fixed;
     float:right;
     border-radius:100%;
     margin-right:100px;
     margin-top:-50px;
   }
   
   #book{
     background-color:white;
     height:350px;
     width:400px;
     margin-top:200px;
     padding-top:10px;
     display:none;
     border-radius:10px;
     top:200px;
     left:450px;
     position:fixed;
     z-index:2;
     
     
   }
   #book i{
     float:right;
     margin-top:-60px;
     margin-right:10px;
     cursor:pointer;
   }
   #book form #button{
     background-color:black;
     margin-top:30px;
     height:50px;
     width:400px;
     border:none;
     color:white;
     font-size:15px;
     cursor:pointer;
     border-bottom-right-radius:10px;
     border-bottom-left-radius:10px;
   }
   
   #book form #button:hover{
     background-color:green;
     
   }
   #slider{
     float:right;
     margin-top:100px;
     margin-right:20px;
     z-index:0;
   }
   #slider img{
     height:400px;
     width:700px;
     
   }
   #time{
     width:100%;
     color:white;
   
   
   }
   #time h3{
     color:white;
     margin-top:600px;
   font-family: 'Lobster', cursive;
   
     
   }