
a{
  text-decoration: none;
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-evenly;
    place-items: center;
    background-color: white;
    z-index: 2;
   }
.logo{
    font-family: 'Herr Von Muellerhoff', cursive;
    font-size: 100px;
    font-weight: normal;
    color: #a96700;
    font-size: 2.9em;
   }
   header nav button{
    background-color: transparent;
    border: 0;
    font-family: quicksand;
    color: black;
    text-transform: uppercase;
    font-size: 0.9em;
    cursor: pointer;
    transition-delay: 0s;
    transition-duration: 1s;
   }
   header nav button:hover{
    color: #a96700;
    transform: translate(0px, -4px);
    text-shadow: 0 6px 6px rgba(0,0,0,1);
   }
   .order-online{
    width: 200px;
    height: 50px;
    border-radius: 25px;
    border: 0;
    background-color: #a96700;
    color: white;
    font-family: montserrat;
    cursor: pointer;
    transition: 0.6s;
   }
   .order-online:hover{
    transform: translate(0px, -4px);
    box-shadow: 0 6px 6px rgba(0,0,0,.2);
   }
   
   /* WAVES BENEATH HEADER */
   
   .waves {
    transform: rotate(180deg) scale(1, 0.2);
     position:relative;
     width: 100%;
     height:15vh;
     margin-bottom:-7px; /*Fix for safari gap*/
     min-height:100px;
     max-height:150px;
    margin-top: 53px;
   }
   .parallax > use {
     animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
   }
   .parallax > use:nth-child(1) {
     animation-delay: -2s;
     animation-duration: 4s;
   }
   .parallax > use:nth-child(2) {
     animation-delay: -3s;
     animation-duration: 7s;
   }
   .parallax > use:nth-child(3) {
     animation-delay: -4s;
     animation-duration: 10s;
   }
   .parallax > use:nth-child(4) {
     animation-delay: -5s;
     animation-duration: 17s;
   }
   @keyframes move-forever {
     0% {
      transform: translate3d(-90px,0,0);
     }
     100% { 
       transform: translate3d(85px,0,0);
     }
   }

body {
	/* background: linear-gradient(264deg, rgba(23,23,23,1) 0%, rgba(33,33,33,1) 49%, rgba(23,23,23,1) 100%); */
	font-family: 'Open Sans', sans-serif;
	margin: 0; 
}


#container {
  margin: auto;
}

.header h1{
	text-align: center;
  margin-top: 10rem;
    background: -webkit-linear-gradient(#e3ca66, #b48e47);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4.5em;
    font-family: 'Parisienne', cursive;
	margin-bottom: 15px;
}
.header p {
	text-align: center;
    background: -webkit-linear-gradient(#131212, #080808);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    font-size: 20px;
}

.grid-item {
    display: inline-block;
    height: 259px;
    overflow: hidden;
    text-align: center;
    width: 400px;
}
.grid-item img{
	width:100%;
	height:auto;
	filter: url(filters.svg#grayscale);
    filter: white;
    /* -webkit-filter: grayscale(1); */
    transition: 0.9s;
}
.grid-item img:hover{
    filter: none;
}

.isotope-pager .pager {
  display: inline-block;
}
.filters {
	width: 100%;
	text-align: center;
	padding-bottom: 35px;
	padding-top:20px;
	
}

.filters ul {
	list-style: none;
    padding: 20px 10px;
    box-shadow: -1px 1px 11px rgba(0,0,0,.4);
    margin: 0 40px;
    border-radius: 30px;
	/* background-color: #232323; */
}

.filters li {
	display: inline-block;
    padding: 10px 25px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}
.filters li a{
	color: #b6b6b6;
	text-decoration: none;
}
.filters li a:hover{
	color:#fff;
}

.filters li:hover {
	box-shadow: -1px 1px 11px rgba(0,0,0,.4);
	border-radius: 15px;
}

.filters li.active a{
	color: #e3ca66;
	border: 1px solid #e3ca66;
	border-radius: 15px;
	box-shadow: -1px 1px 11px rgba(0,0,0,.4);
	padding: 10px 25px;
	
}



.isotope-pager a{
  margin: 6px 1px;
    display: inline-block;
    width: 50px;
    /* height: 60px; */
    line-height: 31px;
    color: #b6b6b6;
    font-weight: 600;
    transition: 0.3s;
    /* position: relative; */
    /* padding-right: 26px; */
    box-shadow: -1px 1px 11px rgba(0,0,0,.1);
    border-radius: 25px;
    background-color: #232323;
    border: .5px solid #e3ca66;
	text-decoration:none;
}

.isotope-pager a:hover{
  color: #fff;
  border: .5px solid #ffeeac;
  box-shadow: -1px 1px 10px 3px rgba(0,0,0,.1);
}

.isotope-pager .active{
  color: #e3ca66 !important;
    box-shadow: -1px 1px 10px 5px rgba(0,0,0,.1);
    border-radius: 25px;
    background-color: #161616;
    border: 1px dotted #e3ca66;
}

.isotope-pager .prev{
  border-radius: 30px 0 0 30px;
}

.isotope-pager .next{
  border-radius: 0 30px 30px 0;
}

.isotope-pager a::before,.isotope-pager a:after{
  content: "";
  position: absolute;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
}
.isotope-pager .num::before,.next::before{
  border-right: 20px solid #2c3e50;
  right: 100%;
}

.isotope-pager .num:after,.prev:after{
  border-right: 20px solid #f1f1f1;
  right: 0;
}





.overlay {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.grid-item:hover .overlay {
  opacity: 1;
}






/* FOOTER */
.footer {
	width: 100%;
	background: #00121b;
	display: block;
 }

 .inner-footer {
	 width: 95%;
	 margin: auto;
	 padding: 30px 10px;
	 display: flex;
	 flex-wrap: wrap;
	 box-sizing: border-box;
	 justify-content: center;
 }

.footer-items {
	width: 25%;
	padding: 10px 20px;
	box-sizing: border-box;
	color: #fff;
}

.footer-items p {
	font-size: 16px;
	text-align: justify;
	line-height: 25px;
	color: #fff;
}

.footer-items h1 {
	color: #fff;
}

.border1 {
	height: 3px;
	width: 40px;
	background: #ff9800;
	color: #ff9800;
	background-color: #ff9800;
	border: 0px;
}

ul {
	list-style: none;
	color: #fff;
	font-size: 15px;
	letter-spacing: 0.5px;	
 }

ul a {
	text-decoration: none;
	outline: none;
	color: #fff;
	transition: 0.3s;
}

ul a:hover {
	color: #ff9800;
}

ul li {
	margin: 10px 0;
	height: 25px;
}

li i {
	margin-right: 20px;
}

.social-media {
	width: 100%;
	color: #fff;
	text-align: center;
	font-size: 20px;
}

.social-media a {
	text-decoration: none;
}

.social-media i {
	height: 25px;
	width: 25px;
	margin: 20px 10px;
	padding: 4px;
	color: #fff;
	transition: 0.5s;
}

.social-media i:hover {
	transform: scale(1.5);
}

.footer-bottom {
	padding: 10px;
	background: #00121b;
	color: #fff;
	font-size: 12px;
	text-align: center;
}

/* for tablet mode view */

@media screen and (max-width: 1275px) {
	.footer-items {
		width: 50%;
	}
}

/* for mobile screen view */

@media screen and (max-width: 660px) {
	.footer-items {
		width: 100%;
	}
}














